

<script src="https://kit.fontawesome.com/48c70cc860.js" crossorigin="anonymous"></script>


<div class="footer">
  <div class="container">
    <div class="footer-row">
      <div class="footer-sect">
        <i class="fa-solid fa-heart"></i>
        <a href="">follow us for more!</a>
      </div>
      <div class="footer-sect">
        <i class="fa-solid fa-share"></i>
        <a href="">share with your friends!</a>
      </div>
      <div class="footer-sect">
        <i class="fa-solid fa-envelope"></i>
        <a href="">Contact us!</a>
      </div>
    </div>
  </div>
</div>