<nav>
  <div class="navbar">
    <ul>
      <li>
        <div>
          
          <a href="/" class="pawyBuddy"><img src="/assets/pawyBuddyLogoClear.png" alt=""> Pawy Buddy</a>
        </div>
      </li>
      <div class="links">
        <% if (userId) { %>
          <li>
            <div>
              <a href="/human/yourProfile/<%= userId %>">Edit Profile</a>
            </div>
          </li>
          <li>
            <div>
              <a href="/Logout">Logout</a>
            </div>
          </li>
          <% } else { %>
        <li>
          <div>
            <a href="/human/Login">Login</a>
          </div>
        </li>
        <li>
          <div>
            <a href="/human/Register">Create Account</a>
          </div>
        </li>
      <% } %>
        <!-- <li>
          <div>
            <a href="/animal/addSelect">Add a Pawy Buddy</a>
          </div>
        </li> -->
      </div>
    </ul>
  </div>
</nav>

<% console.log('* * * * * * *' , userId) %>