<nav>
  <div class="navbar container">
    <a href="/" class="pawyBuddy">
      <img src="/assets/pawyBuddyLogoClear.png" alt="">
      <span>Pawy Buddy</span>
    </a>
        <ul>
          <% if (userId) { %>
            <li>
              <a href="/human/yourProfile/<%= userId %>">Edit profile</a>
            </li>
            <li>
                <a href="/Logout">Log out</a>
            </li>
            <% } else { %>
            <li>
              <a href="/human/Login">Log in</a>
            </li>
            <li>
              <a href="/human/Register">Sign in</a>
            </li>
        <% } %>
      </ul>
  </div>
</nav>
